#app {
  min-width: 320px;   /* allows mobile */
  max-width: 1920px;  /* caps on ultrawide */
  margin: 0 auto;
  overflow-x: hidden; /* prevents horizontal scroll */
}
@font-face {
  font-family: "CatComic";
  src: url("@/assets/fonts/Cat Comic 400.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


*{
    /* background-color: black; */
    margin: 0;
}

body {
  font-family: "CatComic", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


/* Hide default cursor only inside hover area */
.hover-cursor {
  cursor: none;
  position: relative;
}

/* Black ring */
.hover-cursor::after {
  content: "";
  position: fixed;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  top: var(--y);
  left: var(--x);
  z-index: 9999;
}
