*{
    /* background-color: black; */
    margin: 0;
}

/* Hide default cursor only inside hover area */
.hover-cursor {
  cursor: none;
  position: relative;
}

/* Black ring */
.hover-cursor::after {
  content: "";
  position: fixed;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  top: var(--y);
  left: var(--x);
  z-index: 9999;
}
